<div class="docForm">
  <form>
    <div>
      <div class="eachfrom">
        <label for="">Import Document No:</label>
      <input type="text">
      </div>
      <div class="eachfrom">
        <label for="">L/C No.:</label>
      <input type="text">
      </div>
    </div>
    <div>
      <div class="eachfrom">
        <label for="">Tax Value:</label>
      <input type="text">
      </div>
      <div class="eachfrom">
        <label for="">Non-Taxable Value:</label>
      <input type="text">
      </div>
      <div class="eachfrom">
        <label for="">VAT Amount:</label>
      <input type="text">
      </div>
      <div class="eachfrom">
        <label for="">Net Amount:</label>
      <input type="text">
      </div>
    </div>
  </form>
</div>
