.serachQuery{
margin: 20px;
}
table{
  width: 100%;
  font-size: small;
}
th{
  background-color: aquamarine;
}
input{
  margin-left: 4px;
}
input,select{
  height: 20px;
}
tr:focus{
  background-color: whitesmoke;
}
tr:hover{
  cursor: grabbing;
}
tr{
  border-bottom: 1px solid black;
}
tr:hover{
  background-color: whitesmoke;
}
.tool{
  display: flex;
  justify-content: space-between;
}
